body {
    margin: auto;
    border: none;
    padding: none;
    position: relative;
    background-image: url("./media/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.cookies{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}

header{
    margin: auto;
    width: 100%;
}

#content {
    position: absolute;
    text-align: center;
}

#search {
    margin: 0 auto;
    border: 2px;
    width: 100%;
    text-align: center;
    
}

.footer-box {
    margin: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
}



