body {
    margin: auto;
    border: none;
    padding: none;
    position: relative;
    background-image: url("./media/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Helvetica, Arial, sans-serif;
}

.cookies{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}

header{
    margin: auto;
    width: 100%;
}

#content {
    position: relative;
    text-align: center;
    float: none;
    display: block;
    clear: both;
}

#search-box {
    margin: 250px;
    width: auto;
    border: solid 3px rgb(31, 152, 223);
    border-radius: 75px;
    background-color: rgba(208, 223, 247, 0.76);
    clear: both;
    text-align: center;
    width: auto;
}

#search {
    text-align: center;
    clear: both;
    margin: 2% auto;
}

#footer-box {
    display: block;
    margin: 0 0;
    width: 100%;
    position: relative;
    bottom: 0;
    clear: both;
    text-align: center;
    padding: 0;
}

form {
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
}

input {
    border: 1px, solid, rgb(31, 152, 223);
    margin: 0 20px 5px 0;
    border-radius: 50px;
    height: 30px;
    padding: 0 10px;
    font-family: Helvetica, Arial, sans-serif; 
    text-align: center;
}

input[type=submit] {
    color: white;
    background-color: rgb(31, 152, 223);
    width: auto;
    padding: 0 30px;
    text-transform: uppercase;
}

select {
    margin: 0 20px 5px 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
    position: relative;
}
