body {
    margin: auto;
    border: none;
    padding: none;
    position: relative;
    background-image: url("./media/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.cookies{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}

header{
    margin: auto;
    width: 100%;
}

#content {
    position: relative;
    text-align: center;
    float: none;
    display: block;
}

#search-box {
    margin: 250px;
    width: auto;
    border: 2px black;
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(145, 187, 255, 0.5);
    clear: both;
    text-align: center;
    width: auto;
}

#search {
    text-align: center;
    clear: both;
}

#footer-box {
    display: block;
    margin: auto;
    width: 100%;
    position: relative;
    bottom: 0;
    clear: both;
    text-align: center;
}



